/*
BRAND COLOR = #5BCCD0
*/

body {
  background-color: #E0FCF3;
  font-family: OpenSans;
}

.app-title {
  color: #5BCCD0;
  margin-left: 10%;
}

.posts-container {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  overflow-y: scroll;
}

.post-form {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.post-form > input[type="text"] {
  height: 50px;
  width: 500px;
  border-radius: 50px;
  border: none;
  padding-left: 30px;
  padding-right: 15px;
}

.post-form > input[type="text"]:focus {
  outline: 3px solid #5BCCD0;

  transition: all 100ms linear;
}

.post {
  width: 70%;
  align-self: flex-end;
  background-color: #83E2DD;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.bot {
  align-self: flex-start;
  background-color: #81CEFF;
}

.post-title {
  font-size: 0.8em;
  color: #2D8095;
}

.post-content {
  word-wrap: break-word;
}

.file-upload-label {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
  background-image: url(../svg/paperclip.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #5CA9FF;
  background-size: 23px;
}

.file-upload-label:hover {
  width: 55px;
  height: 55px;
  margin-left: 5px;
  transition: all 100ms;
  translate: 2.5px -2.5px;
  background-size: 25px;
}

.desappeared-popup {
  position: absolute;
  display: block;
  padding: 20px;
  border-radius: 10px;
  box-shadow: #3C9B1F 2px 2px 5px;
  background-color: #ACE87E;
  color: #3C9B1F;
  font-size: 2em;
  top: 50vh;
  left: 50vh;
  translate: 50% -50%;
}

@font-face {
  font-family: 'OpenSans';
  src: url(./fonts/OpenSans-Regular.ttf);
}
